.logo {
  & h1,
  & span {
    color: $color-1;
    font-size: 2.5rem;
  }

  & h1 {
    letter-spacing: 0.3rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: -0.5rem;
  }

  & span {
    color: $color-2;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
