// MODAL NOTIFICATION BOX
.modal {
  position: fixed;
  background: $color-5-light;
  font-size: 2rem;
  font-weight: 500;
  max-width: 30rem;
  border: 2px solid $color-4;
  border-radius: 5px;
  bottom: 1vh;
  right: 1vw;
  padding: 0.5rem 1rem;
  transition: 0.4s ease;
  color: $color-4;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    bottom: -20vh;
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    transform: translate(50%, -50%);
    border: none;
    background: transparent;
    font-size: 4rem;
    cursor: pointer;
    color: $color-4;
  }

  &__text {
    margin: 2rem 2rem 0 0;
  }
}
