.footer {
  font-size: 1.6rem;
  text-align: center;
  color: $color-1;
  background-color: $color-3;
  padding: 1rem 0;

  &__dev {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & img {
      width: 3rem;
      transition: 0.2s ease;

      &:hover,
      &:active {
        transform: scale(1.1);
      }
    }
  }
}
